# dependencies
node_modules/
.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/
/build
dist/

# env files — NEVER commit
.env*.local
.env

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# vercel / cloudflare
.vercel
.wrangler

# misc
.DS_Store
*.pem
